<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <section class="container">
    <header class="header">
      <div class="header__logo">
        <img src="https://www.getninjas.com.br/assets/logo/getninjas-94fbc3269cbaf4e6caddccfa454a1757721b86123dad80124f6363d51b2204e7.svg" alt="Logo do GetNinjas">
      </div>
      <small class="header__slug">
        A maior plataforma de contratação de serviços do Brasil
      </small>
    </header>
    <div class="content">
      <section class="content-form">
        <form action="#">
          <div data-js="form"></div>
          <button class="form__button" data-js="sendForm">Enviar</button>
        </form>
      </section>
    </div>
  </section>

  <script src="./js/app.js"></script>
</body>
</html>
